/* Animate in Animations for on load purposes */
@keyframes animate-in-appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-in-appear {
    animation: animate-in-appear 0.5s ease-in-out;
}

/* Blur and Fade in */
@keyframes blur-fade {
    0% { 
        opacity: 0;
        filter: blur(16px); /* blur-lg in Tailwind is 16px */
    }
    100% { 
        opacity: 1;
        filter: blur(0);
    }
}

.blur-fade {
    animation: blur-fade 2s ease-out;
}

/* Animation for the underline effect */
@keyframes underline {
    from {
      width: 0;
      left: 0;
    }
    to {
      width: 100%;
      left: 0;
    }
  }
  
  .animated-underline {
    position: relative;
  }
  
  .animated-underline::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    animation: underline 1s ease-in-out forwards;
    animation-delay: 1s;

    @apply bg-brand-primary h-[2px] md:h-[3px]
  }